{
	"plugins":
	[
		"@babel/plugin-proposal-object-rest-spread",
		"jsx-control-statements"
	],
	"presets":
	[
		["@babel/env",{
      "targets": {"chrome": "57"} /* chrome 55 이상으로 지정 */
    }],
		"@babel/react"
	]
}
